
body{
    font-family: "Lato", sans-serif;
    padding: 0 2em;
}

.accueil-title{
  text-align: center;
  margin: 3em;
}

.block-accueil{
  width: 20em;
  text-align: center;
  margin: 5em auto;
  padding: 4em;
  background-color: white;
  color: black;
  border-radius: 3px;
  box-shadow: 0.5em 0.5em 5em #080808;
}


.block-accueil a {
    text-decoration : none;
}


.block-title {
    margin-bottom: 2em;
    font-size: 1.5em;
}

.block_theme{
    background-color: #27ae60;
    margin: 2em 0;
}

.block_question{
  background-color: #95a5a6;
  margin: 2em 0;
}
